.project-section {
    background-color: #10121b;
  }


.heading-wrapper h1{
    color:#fff;
    text-transform: uppercase;
    position: relative;
    margin: 40px 0px;
}

.heading-wrapper h1::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100px;
    background-color: #0c3360;
    height: 5px;
    border-radius: 5px;
}


.heading-wrapper h1::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 40px;
    background-color: #087bff;
    height: 5px;
    border-radius: 5px;

}


.project-description h3{
    color: #fff;
}


.project-description p{
    color: #a4acc4;
    line-height: 1.5;
    font-size: 1.2rem;

}

.image-box img{
    overflow: hidden;
    margin-bottom: 10px;
    transition: all ;
    border: 5px solid #087bff;
    /* filter: brightness(80%); */
    filter:contrast(95%)
}
/* 
.image-box:hover img{
    transform: scale(1.3);
} */